# This file ensures Lombok generates all necessary methods
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.equalsAndHashCode.callSuper = call
lombok.toBuilder.enabled = true
lombok.copyableAnnotations += javax.validation.constraints.NotNull
lombok.copyableAnnotations += javax.validation.constraints.NotBlank
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# Enable all Lombok features
lombok.accessors.chain = true

# Enable Slf4j logging
lombok.log.fieldName = log
lombok.log.slf4j.flagUsage = false

# Enable setters
lombok.setter.flagUsage = false

# Use default builder class name (without customization)
# Remove custom builder class name to use default Lombok behavior
# lombok.builder.className = ${simpleName}Builder
